.nav-background{
    background-image: url("../header-img/1683856600.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Header-part{
    height: 300px;
}
.header-body{
    color: white;
    text-align: center;
    margin: 100px auto;
    font-weight: 900;
    font-size: 40px;
}